
header {
    width: 100%;
    min-width: 1080px;
    background-color: #eee;
    margin-top: 0px;
    padding: 15px;
}

article {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	max-width: 800px;
	text-align:center;
    clear:both;
    overflow:auto;
    width:100%;
    display: block;
}

nav li {
    display:inline;
    color:#555;
}

nav {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

nav a:hover {
    text-decoration:underline;
    color: #111;
}


.align-right {
    float: right;
}

.grid {
    width:727px;
    margin-right: auto;
    margin-left: auto;
}

.gridItem {
    float: left;
    width: 239px;
    height: 190px;
    text-align:center;
}

.grid a:visited {
    color: inherit;
}

a.button {
    height: 190px;
    background-image: url("../img/green-sprite.jpg");
    display: inline-block;
}

a#hover-state {
    width: 239px;
    background-position: 0px 0px;
}

a#hover-state:hover {
    background-position: 0px -190px;
}

.grid a:hover {
    color:white;
}

.top {
    border-bottom: 1px dashed #DDD;
}

.inside {
    border-right: 1px dashed #DDD;
    border-left: 1px dashed #DDD;
}
    

.aside {
    
    text-align:left;
    margin-left: 15px;
}

.align-left {
    float:left;
}

article img {
    clear: left;
    margin-right:15px;
}
